# Kata 8

In [1]:
planet={
    'name': 'Mars',
    'moons': 2
}

In [6]:
print("El nombre del planeta es: "+planet.get("name") + " y sus lunas son: "+ str(planet.get("moons")))

El nombre del planeta es: Mars y sus lunas son: 2

In [8]:
planet['circunferencia (km)']={'polar': 6752,'equatorial': 6792}

In [12]:
print("El nombre del planeta es: "+planet.get("name") + " y su circunferencia polar: "+ str(planet['circunferencia (km)'].get("polar")))

El nombre del planeta es: Mars y su circunferencia polar: 6752

In [13]:
planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}

In [14]:
moons=planet_moons.values()
planets=len(planet_moons.keys())

In [18]:
total_moons=0
for moon in moons:
    total_moons=total_moons+moon

In [22]:
print((total_moons))

214

In [21]:
prome=total_moons/planets
print(prome)

17.833333333333332